@import url(reset.css);

body {
    font-family: "TT Lakes";
    font-weight: 400;
    background-color: #f2f2f2;
    max-width: 1120px;
    margin: 0 auto;
    font-size: 16px;
}

.header {
    min-width: 320px;
    max-height: 80px;
    background-color: #fff;
    background-image: linear-gradient(90deg, #f8f8f8, #fff);
}

.header__title {
   font-family: "TT Lakes";
   font-size: 16px;;
   line-height: 24px;
   letter-spacing: -0.2px;
   text-transform: uppercase;
   color:#7e7e82;
   padding: 16px 32px;
}
.main {
    background-color: #f2f2f2;
}

.brand-slider__btn{
   display: flex;
   justify-content: space-between;
   width: 100%;
   background-color: #fff;
   cursor: pointer;
   margin: 0 auto;
   border: 1px solid #eaeaea;
   border-radius: 6px;
}

.swiper-slide__arrow {
    width: 40px;
    height: 40px;
    background-color: #fff;
    display: block;
    background-repeat: no-repeat;
    margin: 16px;
}

.swiper-slide__img {
   margin: auto 16px;
}

#layout {
    height: 72px;

}
.brand-slider__slide {
    min-width: 235px;
    max-width: 240px;
    height: 72px;
    background-color: #fff;
    border-radius: 6px;
    margin:16px 0 16px 16px;
}

.brand-slider{
   height: 130px;
}

.swiper-pagination{
   margin-top: 16px;
}

.swiper-pagination-bullet{
   width: 12px;
   height: 12px;
   background-color:#B5B6BC;
}


.read-more{
   display: none;
}

@media screen and (min-width:768px) and (max-width:1119px) {
    
   #layout{
      display: grid;
      grid-template-columns: repeat(3, minmax(225px, 270px));
      width: 94%;
      margin: 0 auto;
      justify-content: center;
      padding-top: 24px;
      justify-items: center;
      gap: 16px 24px;
       
   }

   .brand-slider {
      height: 200px;
      overflow: hidden;
      transition: height 0.3;
   }

   .openCards{
   height: 370px;
   }

   .brand-slider__slide{
   margin: 0 0;
   max-width: 280px;
   }


   .read-more{
      display: block;
      background-color: #f2f2f2;
      margin: 10px 0 0 5%;
      width: 150px;
      font-family: "TT Lakes";
      font-size: 16px;
      font-weight: 500;
      cursor: pointer;
      display: flex;
      
     
   }
   .read-all{
      width: 12px;
      height: 12px;
      margin: 5px;
   }

   .rotate{
      transform: rotate(180deg);
   }
   
   .text-all{
      display: block;
      margin-left: 8px;
   }
   
   .swiper-wrapper{
      height: 320px;
   }
   .swiper-pagination{
      display: none;
   }
}



@media screen and (min-width:1120px) {
   #layout{
      display: grid;
      grid-template-columns: repeat(4, 1fr);
      width: 100%;
      margin: 0 auto;
      justify-content: center;
      padding-top: 24px;
      justify-items: center;
      gap: 16px 32px;
   }


   .brand-slider__slide{
      margin: 0 0;
      max-width: 250px;
   }

   .brand-slider {
      height: 200px;
      overflow: hidden;
      transition: height 0.3;
   }

   .openCards{
      height: 300px;
   }

   .read-more{
      display: block;
      background-color: #f2f2f2;
      margin: 10px 0 0 0;
      width: 130px;
      font-family: "TT Lakes";
      font-size: 16px;
      font-weight: 500;
      cursor: pointer;
      display: flex;
   }
   .read-all{
      width: 12px;
      height: 12px;
      margin: 5px;
   }

   .rotate{
      transform: rotate(180deg);
   }

   .text-all{
      display: block;
   }

   .hidden{
      height: 320px;
   }
   .swiper-pagination{
      display: none;
   }
   
}




